<% if logged_in? %>
  <div class="row">
    <div class="col-sm-1"></div>
    <aside class="col-sm-4">
      <%= form_with(model: @schedule) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="mb-3">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <div class="mb-3">
          <%= f.datetime_field :start_datetime %>
        </div>
        <div class="mb-3">
          <%= f.datetime_field :finish_datetime %>
        </div> 
        <%= f.submit '登録', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <%= render 'schedules/schedules', schedules: @schedules %>
    </div>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Schedulelist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>